


<!-- <div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.username }}</strong>'s Profile
    </h3>
  </header>

  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>

  <strong>Stressors:</strong>
  <ul>
    <li *ngFor="let stressor of currentUser.stressors">
      {{ stressor }}
    </li>
  </ul>

  <strong>Helpers:</strong>
  <ul>
    <li *ngFor="let helper of currentUser.helpers">
      {{ helper }}
    </li>
  </ul>

  <strong>Do Not:</strong>
  <ul>
    <li *ngFor="let dont of currentUser.donts">
      {{ dont }}
    </li>
  </ul>

  <a href="/registration">Edit Tags</a>

</div>

<ng-template #loggedOut>
  Please login.
</ng-template>  -->

       
       <!-- TOOLBAR ON THE TOP -->

       <mat-toolbar class="mat-elevation-z8">
    
        <button
          mat-icon-button
          *ngIf="sidenav.mode === 'over'"
          (click)="sidenav.toggle()"
        >
          <!-- <mat-icon class="toolbar-icon" *ngIf="!sidenav.opened"> menu </mat-icon>
          <mat-icon class="toolbar-icon" *ngIf="sidenav.opened"> close </mat-icon> -->

          <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
          <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
        </button>
       
        Responsive sidebar navigation
      
      </mat-toolbar>
       
          
      <mat-sidenav-container>
      
          <!-- SIDENAV  LEFT-->
      
        <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
          <!-- <img
            class="avatar mat-elevation-z8"
            src="https://source.unsplash.com/c_GmwfHBDzk/200x200"
          /> -->
      
          <div *ngIf="currentUser; else loggedOut">
            <h4> <strong>{{ currentUser.username }}</strong>'s Profile
            </h4>
            <p><strong>Email:</strong> {{ currentUser.email }}</p>


          </div>
          <ng-template #loggedOut>
            Please login.
          </ng-template>
          
      
          <mat-divider></mat-divider>
      
          <button mat-button class="menu-button" routerLink="/home">
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </button>
      
          <button mat-button class="menu-button" routerLink="/profile">
            <mat-icon>person</mat-icon>
            <span>Friends</span>
          </button>
      
          <button mat-button class="menu-button" routerLink="/about">
            <mat-icon>info</mat-icon>
            <span>About</span>
          </button>
      
          <mat-divider></mat-divider>
      
          <button mat-button class="menu-button" routerLink="/help">
            <mat-icon>help</mat-icon>
            <span>Help</span>
          </button>



          <mat-divider></mat-divider>

          <button mat-button class="menu-button" routerLink="/registration">
            <mat-icon>edit</mat-icon>
            <span>Edit Tags</span>
          </button>

        </mat-sidenav>

        <mat-sidenav-content>

           <!-- CONTENT ON RIGHT SIDE -->

          <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>

            <div class="inner-content">
              <strong>Stressors:</strong>
              <ul>
                <li *ngFor="let stressor of currentUser.stressors">
                  {{ stressor }}
                </li>
              </ul>
            </div>
           
          
            <div class="inner-content">
              <strong>Helpers:</strong>
              <ul>
                <li *ngFor="let helper of currentUser.helpers">
                  {{ helper }}
                </li>
              </ul>
            </div>
            
          <div class="inner-content">
            <strong>Do Not:</strong>
            <ul>
              <li *ngFor="let dont of currentUser.donts">
                {{ dont }}
              </li>
            </ul>
          </div>
            
            
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>

      <ng-template #loggedOut>
        Please login.
      </ng-template>
      
      
      


         
       

