
<h1> The following things raise my anxiety level, and so i would like my supporters to be more aware about them: </h1>
<div class="container">
	<h2>Tag your response to question 1 here</h2>

	<!-- REQUIRED STRUCTURE -->
	<div id="tag-input">
        <span></span>
        <input name="tag" id="tag" value=""  placeholder="tag - comma separated"/>
      </div>
  </div>

<h1>When I am anxious, the following things help me: </h1>
<div class="container">
	<h2>Tag your response to question 2 here</h2>

	<!-- REQUIRED STRUCTURE -->
	<div id="tag-input">
        <span></span>
        <input name="tag" id="tag" value=""  placeholder="tag - comma separated"/>
      </div>
  </div>

<h1>When I am anxious, please do not do the following: </h1> 
<div class="container">
	<h2>Tag your response to question 3 here</h2>

	<!-- REQUIRED STRUCTURE -->
	<div id="tag-input">
        <span></span>
        <input name="tag" id="tag" value=""  placeholder="tag - comma separated"/>
      </div>
  </div>
<!-- Tyscript Tag Box initalization -->

