// Tag Input Styling
$tag: #EF8354;
#tag-input {
	background: #eee;
	border-radius: 5px;
    padding: 12px 10px 7px 15px;
	> span {
		display: inline-block;
	}
	.tag {
		display: inline-block;
		margin: 0 5px 5px 0;
		padding: 5px 8px;
		background: $tag;
		border-radius: 5px;
		color: white;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 12px;
		line-height: 1;
		transition: background 250ms ease-in-out;
		position: relative;
		&:hover {
			background: darken($tag, 5%);
		}
		a {
			margin-left: 5px;
			padding-left: 5px;
			color: white;
			text-decoration: none;
			border-left: 1px solid rgba(255, 255, 255, 0.5);
		}
		#pop-over-edit {
			position: absolute;
			bottom: 100%;
			left: 50%;
			transform: translateX(-50%);
			padding-bottom: 5px;
			input {
				background: white;
				border-radius: 5px;
				box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
				padding: 5px;
				margin: 0;
			}
		}
	}
	input {
		font-family: 'Roboto Mono', monospace;
		display: inline-block;
		margin: 0 5px 5px 0;
		background: none;
		border: none;
		line-height: 22px;
		&:focus {
			outline: none;
		}
	}
}


// LAYOUT
body {
	font-family: 'Roboto Mono', monospace;
	background: #fafaf9;
}

* {
	box-sizing: border-box;
}

.container {
	max-width: 650px;
	margin: 50px auto;
	padding: 30px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
	h2 {
		margin: 0 0 30px;
		color: #2D3142;
	}
}