<div class="home-container">
  <div class="banner-text">
    <h1>TARA <span  [routerLink]="'/about'" class = "about-link ">Read more about TARA</span></h1>
    <p>Tara app is a web application dedicated to providing tools to individuals who feel less equipped to support individuals with Neurodiversity.</p>
    
  </div>
  
  <div class="btns">
    <a [routerLink]="'/crisis'" class = "btn ">Help</a>
    <a [routerLink]="'/login'" class="btn login-btn">Login</a>
    <a [routerLink]="'/registration'" class="btn signup-btn">Register</a><br/>
  </div>
</div>
