.m-o-c {
  width: 100%;
  /* height: 100%; */
  background-color: #78938A;
  background-size: cover;
  display:flex;
  flex-direction:column;
  padding:0;
  margin:0;
  color:#fff;
  justify-content:center;
  margin:0;
  background-size: cover;
  padding:30px;
 
}

.main-occurrences-container {
    display: flex;
    flex-direction:column;
    width: 400px;
    margin: auto;
    padding-top: 50px;
    
  }

  .occurrence-list {
    margin-top: 35px;
    margin-bottom: 70px;
  } 

  app-occurrence-card {
    display: block;
    margin-bottom: 25px;
    background-color:#F1DDBF;
    border-radius: 10px;
    border: 2px solid tomato;
    color: #0d3d2d;
  }

  h4{
    text-align:center;
    align-items:center;
    padding:0px;
    color: #0d3d2d;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 27px;
}

.field{
  display: flex;
  flex-direction:row;
  text-align:center;
  justify-content: center;

}
button{
  padding:5px;
}
.btn {
  width: 50px;
  padding: 10px 5px;
  margin:3px;
  border-radius: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
  color: #fff;
  border: 2px solid tomato;
  transition: transform 0.3s;
}
.input{
  width: 300px;
  padding: 10px 5px;
  margin:3px;
  border-radius: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  outline: none;
  color: eee;
  border: 2px solid tomato;
  transition: transform 0.3s;
}