<div class="container">
    <h2>Login</h2>
    <form #loginform="ngForm" (ngSubmit)="loginUser()">
      <!-- need to figure out how to display exceptions correctly here from the registration controller -->
      <small class="text-danger">{{msg}}</small>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" placeholder="Enter email" name="email" [(ngModel)]="user.email" required #email="ngModel"
        [class.is-invalid]="email.invalid && email.touched"> 
        <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required.</small>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" name="password" [(ngModel)]="user.password" required #password="ngModel"
        [class.is-invalid]="password.invalid && password.touched">
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required.</small>
      </div>
      <div class="checkbox">
        <!-- this remember me part could be deleted, don't think it's necessary for mvp -->
        <label><input type="checkbox" name="remember"> Remember me</label>
      </div>
      <button [disabled]="loginform.form.invalid" type="submit" class="btn btn-info">Login</button>
    </form>
    <small>Don't have an account? <a [routerLink]="['/registration']">Register here.</a></small>
  </div>
  