<div class="crisis-container">
  <div class="banner-text">
    <h2>HELP BEYOND TARA</h2>
    <div class="text-description">
      <h3>
        When there are concerns involving safety of the anxious person or their
        loved ones involved in the situation, or anxiety is getting worse over
        an extended time instead of lessening, or for any other reason you think
        you need some professional help to handle a situation, there are crisis
        lines staffed by mental health professionals and specially trained
        volunteers. The creators of Tara app DO NOT endorse in most
        circumstances a first call to the local police, who are not trained in
        mental health response. (link to article about why this is especially
        dangerous for black, trans people?).
      </h3>
    </div>
  </div>
  <div class="text">
    <table class="table table-success table-striped-columns table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Organization</th>
          <th scope="col">
            Phone
            <img
              src="/assets/img/telephone-call.png"
              alt="telephone"
              width="15"
              height="15"
            />
          </th>
          <th scope="col">
            Text
            <img src="/assets/img/chat.png" alt="chat" width="15" height="15" />
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>National Suicide Prevention Line - 24/7, 365 - for everyone.</td>
          <td><a href="tel:1800">1(800)273-8255</a></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>National Crisis Text Line - 24/7, 365 - for everyone</td>
          <td></td>
          <td>Text 'HOME' to 741741</td>
        </tr>

        <tr>
          <th scope="row">3</th>
          <td>
            Military Crisis line - for active duty service members and veterans,
            24/7 365
          </td>
          <td><a href="tel:1800">1(800)273-8255</a> press 1</td>
          <td></td>
        </tr>

        <tr>
          <th scope="row">4</th>
          <td>Trevor Project line - for LGBTQ youth up to age 24, 24/7 365</td>
          <td> <a href="tel:18664887386"> Click or Call 1(866)488-7386 for the LGBTQ youth crisis line </a></td>
          <td></td>
        </tr>

        <tr>
          <th scope="row">5</th>
          <td>
            Trans Lifeline - not 24/7. For transgender people staffed by
            transgender clinicians.
          </td>
          <td><a href="tel:18775658860"> Click or Call 1(877) 565-8860 for the Trans lifeline </a></td>
          <td></td>
        </tr>

        <tr>
          <th scope="row">6</th>
          <td>National Sexual Assualt Hotline - for everyone. 24/7 365.</td>
          <td><a href="tel:18006564673"> Click or Call 1-800-656-4673 for the National Sexual Assault Hotline </a></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
