<div class="float-container">
    <div class="float-child">
    <h4>If this is an ongoing occurrence, have these methods helped?</h4>
    <ul>
        <li *ngFor="let helper of currentUser.helpers">{{ helper }}</li>
    </ul>
    <h4>Remember to avoid these!</h4>
    <ul>
        <li *ngFor="let dont of currentUser.donts">{{ dont }}</li>
    </ul>
</div>

<div class="oc-container float-child">
    <form #occcurrenceLog="ngForm" (ngSubmit)="createOccurrence()">

        <div class="form-group">
            <label for="location">Where did this take place?</label>
            <input type="text" class="form-control" placeholder="location" name="location" [(ngModel)]="form.location"> 
        </div>

        <div class="form-group">
            <label for="stressor">What stressors were involved?</label>
            <input type="text" class="form-control" placeholder="stressors" name="stressors" [(ngModel)]="form.stressors"> 
        </div>

        <div class="form-group">
            <label for="deescalation">How were you able to deescalate?</label>
            <input type="text" class="form-control" placeholder="helpers" name="deescalation" [(ngModel)]="form.destressors"> 
        </div>

        <div class="form-group">
            <label for="description">how would you describe the event?</label>
            <input type="textarea" class="form-control" placeholder="description" name="description" [(ngModel)]="form.description"> 
        </div>
        
        <button type="submit" class="btn btn-info">Submit</button>
    </form>
</div>
</div>