<div class="container">
    <h2>Register for an Account</h2>
    <form #registerform="ngForm" (ngSubmit)="registerUser()">
      <!-- need to figure out how to display exceptions correctly here from the registration controller -->
      <small class="text-danger">{{msg}}</small>
      <div class="form-group">
        <!-- need to add email validation (make sure there's an @ sign) he goes over this in the video -->
        <label for="email">Email:</label>
        <input type="email" class="form-control" placeholder="Enter email" name="email" [(ngModel)]="user.email" required #email="ngModel"
        [class.is-invalid]="email.invalid && email.touched"> 
        <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required.</small>
      </div>
      <div class="form-group">
        <!-- need to check if username is greater than or less than however many characters -->
        <label for="username">Username:</label>
        <input type="text" class="form-control" placeholder="Enter username" name="username" [(ngModel)]="user.username" required #username="ngModel"
        [class.is-invalid]="username.invalid && username.touched">
        <small class="text-danger" [class.d-none]="username.valid || username.untouched">Username is required.</small>
      </div>
      <div class="form-group">
        <!-- we can add some constraints to the password, such as length, if it contains special characters, etc -->
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" name="password" [(ngModel)]="user.password" required #password="ngModel"
        [class.is-invalid]="password.invalid && password.touched">
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required.</small>
      </div>
      <div class="form-group">
        <!-- this automatically checks if they match so i don't think anything else needs to be done here -->
        <label for="pwd">Confirm Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" name="cpassword" #cpassword="ngModel" (ngModel)="user.password" required #password="ngModel"
        [class.is-invalid]="cpassword.invalid && cpassword.touched">
        <small class="text-danger" [class.d-none]="(cpassword.value == password.value) || cpassword.untouched">Passwords must be the same.</small>
      </div>
      <div class="checkbox">
        <!-- this remember me part could be deleted, don't think it's necessary for mvp -->
        <label><input type="checkbox" name="remember"> Remember me</label>
      </div>
      <button [disabled]="registerform.form.invalid" type="submit" class="btn btn-info">Register</button>
    </form>
    <small>Already have an account? <a [routerLink]="['/login']">Login here.</a></small>
  </div>