img{
margin: auto;
    top: 0;
    left: 0;

    bottom: 0;
position:absolute;
}
p{
background-color:#525E75;
padding:20px;
margin:0;
position:absolute;
with:100%;
top:0;
}

.container{
margin:0;
border:0;
with:100%;}

nav{
background:#fff;
padding: 15px 25px;}


